body {
    background-color: lightblue;
}

.graybg {
    background-color: lightgray;
}

.darkbg {
    background-color: darkgray;
    opacity: 0.6;
}

.lightgrayopaquebg {
    background-color: lightgray;
    opacity: 0.7;
}

.textContainer h1,h2,h3 {
    vertical-align: middle;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#bgimage {
    -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}